packages:
  yum:
    awslogs: []

files:
  "/tmp/testlog.log" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [2020-05-15T19:41:00.135Z] INFO  [4496]  - [Application update app-200515_154018@3] : Starting activity...
      [2020-05-15T19:41:00.136Z] INFO  [4496]  - [Application update app-200515_154018@3/AddonsBefore] : Starting activity...
      [2020-05-15T19:41:00.136Z] INFO  [4496]  - [Application update app-200515_154018@3/AddonsBefore/ConfigCWLAgent] : Starting activity...
      [2020-05-15T19:41:00.136Z] INFO  [4496]  - [Application update app-200515_154018@3/AddonsBefore/ConfigCWLAgent/10-config.sh] : Starting activity...
      [2020-05-15T19:41:00.377Z] INFO  [4496]  - [Application update app-200515_154018@3/AddonsBefore/ConfigCWLAgent/10-config.sh] : Completed activity. Result:
      [2020-05-15T19:41:01.098Z] INFO  [4496]  - [Application update app-200515_154018@3/AppDeployStage0/EbExtensionPreBuild] : Starting activity...
      [2020-05-15T19:41:01.507Z] INFO  [4496]  - [Application update app-200515_154018@3/AppDeployStage0/EbExtensionPreBuild/Infra-EmbeddedPreBuild] : Starting activity...
      [2020-05-15T19:41:01.512Z] INFO  [4496]  - [Application update app-200515_154018@3/AppDeployStage0/EbExtensionPreBuild/Infra-EmbeddedPreBuild/prebuild_0_test_logs_CW] : Starting activity...
      [2020-05-15T19:41:01.910Z] INFO  [4496]  - [Application update app-200515_154018@3/AppDeployStage0/EbExtensionPreBuild/Infra-EmbeddedPreBuild/prebuild_0_test_logs_CW/Command 01] : Starting activity...
      [2020-05-15T19:41:01.916Z] INFO  [4496]  - [Application update app-200515_154018@3/AppDeployStage0/EbExtensionPreBuild/Infra-EmbeddedPreBuild/prebuild_0_test_logs_CW/Command 01] : Completed activity. Result:
        t166
        t2
        t3
      [2020-05-15T19:41:12.144Z] INFO  [4496]  - [Application update app-200515_154018@3] : Completed activity. Result:
        Application update - Command CMD-AppDeploy succeeded

  "/etc/awslogs/debug_mode.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [loggers]
      keys=root,cwlogs,reader,publisher
                  
      [handlers]
      keys=consoleHandler
                  
      [formatters]
      keys=simpleFormatter
                
      [logger_root]
      level=DEBUG
      handlers=consoleHandler
                  
      [logger_cwlogs]
      level=DEBUG
      handlers=consoleHandler
      qualname=cwlogs.push
      propagate=0
                  
      [logger_reader]
      level=DEBUG
      handlers=consoleHandler
      qualname=cwlogs.push.reader
      propagate=0
                  
      [logger_publisher]
      level=DEBUG
      handlers=consoleHandler
      qualname=cwlogs.push.publisher
      propagate=0
                  
      [handler_consoleHandler]
      class=logging.StreamHandler
      level=DEBUG
      formatter=simpleFormatter
      args=(sys.stderr,)
            
      [formatter_simpleFormatter]
      format=%(asctime)s - %(name)s - %(levelname)s - %(process)d - %(threadName)s - %(message)s

  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state
      logging_config_file = /etc/awslogs/debug_mode.conf


  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/tmp/testlog.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "tmp/testlog.log"]]}`
      log_stream_name = {instance_id}
      file = /tmp/testlog.log
      time_zone = UTC
      datetime_format = %Y-%m-%dT%H:%M:%S
      multi_line_start_pattern = {datetime_format}

      [/var/log/awslogs.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/awslogs.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/awslogs.log

commands:
  "01":
    command: chkconfig awslogs on
    ignoreErrors: true
  "02":
    command: service awslogs restart
    ignoreErrors: true


